body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.509);
    font-family: "oswald", serif;
}

.textCont {
    width: 400px;
    line-height: 2em;
    text-decoration: none;

    & a {
        text-decoration: none;
        color: black
    }
}

/* .userCont {
    border: 1px inset black;
    padding: 20px;
}

.movieCont {
    border: 1px inset black;
    padding: 20px;
} */

.titleTable {
    background-color: rgba(121, 89, 54, 0.224);
    letter-spacing: .2rem;
    font-weight: 400;
}

table {
    background-color: bisque;
    border: 2px inset black;
    margin-top: 1em;

    & th {
        background-color: rgba(128, 128, 128, 0.493);
        font-size: large;
        color: rgb(74, 73, 73);
        text-shadow: 1px 2px rgba(0, 0, 0, 0.078);
        padding: 1em;
    }

    & td {
        max-width: 9em;
        min-width: fit-content;
        text-align: center;
        border: 1px inset rgb(148, 132, 112);
        word-break: break-all;

    }
}

.indent {
    margin-left: 40px;
}

.json {
    text-align: left;
    max-width: 8em;
    color: blue;
    min-width: fit-content;
}

table span {
    font-family: arial;
    color: rgba(0, 0, 255, 0.525);
}

.textCont span {
    background-color: rgba(255, 0, 0, 0.429);
    color: rgb(63, 11, 11);
    padding: .25em;
}